{% extends 'index.html' %}

{% block content %}
<br><hr>
<header class="masthead" style="background-image: url('https://picsum.photos/1900/1267?grayscale'); margin-top: 40px;">
    <div class="overlay"></div>
    <div class="container">
        <blockquote class="quote-box text-center primary-color">
            <p class="quotation-mark">
              “
            </p>
            <p class="quote-text">
              {{quote.quote}}
            </p>
            <hr />
            <div class="blog-post-actions">
              <p class="blog-post-bottom pull-left">
                {{quote.author}}
              </p>
            </div>
          </blockquote>
  </header>

{% endblock %}